
@media only screen and (max-width: 1024px) {

  html {
    font-size: 38.4px;
  }
}
@media only screen and (max-width: 768px) {
 
  html {
    font-size: 32px;
  }
}
@media only screen and (max-width: 640px) {
  
  html {
    font-size: 20.7px;
  }
}
@media only screen and (max-width: 414px) {

  html {
    font-size: 18px;
  }
}
@media only screen and (max-width: 360px) {

  html {
    font-size: 16px;
  }
}
